# node modules
**/node_modules/

# build outputs
**/.next/
**/build/
**/dist/

# yarn/pnpm
**/.yarn/
.pnp.*
.pnpm-debug.log*

# env & config
.env*
.vercel

# system + misc
.DS_Store
*.log
*.tsbuildinfo
.vscode/
.idea/
next-env.d.ts
